<launch>
    <param name="/use_sim_time" value="true"/>
    <node pkg="ceres_optimization" type="final" name="ceres_opt" output="screen">
        <rosparam command="load" file="$(dirname)/../config/parameters.yaml" />
    </node>
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(dirname)/../bags/2022-01-14-23-26-36.bag"/>
</launch>